@model lab_49_MVC_core_users_categories_todoitems.ToDoItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ToDoItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ToDoItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
